/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$font-family: "Atkinson Hyperlegible", sans-serif;
$link-color: #688773;
$hover-color: lighten($link-color, 20%);
$sidebar-hl-hover: darken($link-color, 20%);

/*-- scss:rules --*/

a{
  color: $link-color;
  text-decoration: none;

  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }

}

.sidebar a{
  border-bottom: 1px solid transparent;

  &:hover{
    color: $sidebar-hl-hover;
    border-bottom: 1px solid $sidebar-hl-hover;
  }
}
